body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#relogio {
  color: #f90;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 50px;
}

#clock h2 {
  color: #fff;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.4em;
  margin: 10px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

#clock #time {
  display: flex;
}

#clock #time div {
  margin: 0 5px;
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient (transparent, #0004);
}

#clock #time div span {
  align-items: center;
  background-color: #2196f3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #fff;
  /* display: block; */
  display: flex;
  font-size: 3em;
  font-weight: 300;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 100px;
  z-index: 10;
}

#clock #time div span:nth-child(2) {
  background-color: #127fd6;
  box-shadow: none;
  font-size: 0.7em;
  font-weight: 500;
  height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 9;
}

#clock #time div:last-child span {
  background-color: #ff1fa9;
}

#clock #time div:last-child span:nth-child(2) {
  background-color: #fd1e7b;
}
